body
{
 background-color: #B4FE98;
}
hr{
 border-style: dotted none none none;
 width:30%;
 border-color: #0B4619;
 border-width: 5px;
}
h1:hover{
  color: #4F091D;
}
h2:hover{
  color: #4F091D;
}
